{% extends 'organizations/organization_base.html' %}
{% load crispy_forms_tags %}

{% block title %}Chỉnh sửa: {{ tournament.name }}{% endblock %}

{% block sidebar %}
    {% include 'organizations/_manage_tournament_nav.html' %}
{% endblock %}

{% block management_content %}
<div class="card">
    <div class="card-header">
        <h3><i class="bi bi-pencil-square"></i> Chỉnh sửa thông tin giải đấu</h3>
    </div>
    <div class="card-body p-4">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form|crispy }}
            <div class="d-grid gap-2 mt-4">
                <button type="submit" class="btn btn-primary btn-lg">Lưu thay đổi</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}