<div class="table-responsive">
    <h5>Vòng Bảng</h5>
    <table class="table table-hover">
        <tbody>
            {% for match in matches|dictsort:"match_round" %}
                {% if match.match_round == 'GROUP' %}
                    <tr style="cursor: pointer;" onclick="window.location='{% url 'match_detail' pk=match.pk %}';">
                        </tr>
                {% endif %}
            {% endfor %}
        </tbody>
    </table>

    <h5 class="mt-4">Vòng Loại Trực tiếp</h5>
    <table class="table table-hover">
        <tbody>
            {% for match in matches %}
                {% if match.match_round != 'GROUP' %}
                     <tr style="cursor: pointer;" onclick="window.location='{% url 'match_detail' pk=match.pk %}';">
                        <td>{{ match.get_match_round_display }}</td>
                        </tr>
                {% endif %}
            {% endfor %}
        </tbody>
    </table>
</div>