{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load custom_filters %}

{% block content %}
<div class="form-container">
    <h3>Đăng ký đội hình thi đấu</h3>
    <p><strong>Trận đấu:</strong> {{ match.team1.name }} vs {{ match.team2.name }}</p>
    <p><strong>Đội của bạn:</strong> {{ team.name }}</p>
    <hr>
    <form method="post">
        {% csrf_token %}
        <table class="table">
            <thead>
                <tr>
                    <th>Tên Cầu thủ</th>
                    <th>Đá chính</th>
                    <th>Dự bị</th>
                </tr>
            </thead>
            <tbody>
                {% for player in team.players.all %}
                <tr>
                    <td>{{ player.full_name }}</td>
                    <td><input type="radio" name="player_{{ player.pk }}" value="STARTER" {% if existing_lineup|get_item:player.pk == 'STARTER' %}checked{% endif %} required></td>
                    <td><input type="radio" name="player_{{ player.pk }}" value="SUBSTITUTE" {% if existing_lineup|get_item:player.pk == 'SUBSTITUTE' %}checked{% endif %}></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <button type="submit" class="btn btn-primary w-100">Lưu Đội hình</button>
    </form>
</div>
{% endblock %}