{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="form-container">
    <h3 class="mb-4">Chỉnh sửa thông tin Cầu thủ</h3>
    <p><strong>Cầu thủ:</strong> {{ player.full_name }}</p>

    <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-primary mt-3">Lưu thay đổi</button>
        <a href="{% url 'team_detail' pk=player.team.pk %}" class="btn btn-secondary mt-3">Hủy</a>
    </form>
</div>
{% endblock %}